*{
  margin: 0;
  padding:0;
}

header {
  background-color: rgb(122, 75, 14);
  color: aliceblue;
  text-align: center;
  padding: 15px 0;
}
header span {
  margin:  50px;
  background-color: blue;


}
main {
  padding: 20px;
  background-color: antiquewhite;
  border: 4px solid ;
}

main section {
  padding: 20px;
margin: 10px;
  /* text-align: center; */
  font-size: 25px;
  border: 2px solid rgb(67, 41, 5);
  width: 40%;
  display: inline-block;
}
p{
  /* letter-spacing: 10px; */
  word-spacing: 20px;
  direction: rtl;
text-align: end;
}
footer {
  background-color: rgb(122, 75, 14);
  text-align: center;
  padding: 15px 0;
  color: aliceblue;
}
.sec3{
  background-color: rgb(136, 93, 177);
  height: 500px;
  background-image: url("images/bg2.jpg");
  background-repeat: no-repeat;
   background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  color: aliceblue;
}
ul{
  padding: 10px;
  background-color: aquamarine;
  list-style-position: inside;
  list-style-type:decimal-leading-zero;
}

.sec2 p{
  width: 200px;
  background-color: rgb(153, 93, 14);
  padding: 20px;
  border: 2px solid;
  margin: 50px;
  display:inline-block;

}
.sec4{
  width: 80%;
  writing-mode: vertical-lr;
 
}